body{
	background-color: #545454;
	color: #545454;
}
.paper{
    background-color: #F2F2F2;
}
.col{
    padding: 0 10%;
}
p{
    font-size:22px;
}
.projectsImg{
	width:80%;
}

img:hover, img:active{
	opacity: 0.5;
}
