body{
	background-color: #545454;
	color: #545454;
}
.paper{
    background-color: #F8F3EA;
    margin: auto;
    border-radius: 25px;
}
.col{
    padding: 0 10%;
}
p{
    font-size:22px;
}

