body{
	background-color: #545454;
	color: #545454;
}
.paper{
    background-color: #F2F2F2;
    border-radius: 25px;
	-webkit-box-shadow: inset 10px 4px 31px 17px rgba(0,0,0,1);
	-moz-box-shadow: inset 10px 4px 31px 17px rgba(0,0,0,1);
	box-shadow: inset 10px 4px 31px 17px rgba(0,0,0,1);
}
.col{
    padding: 0 10%;
}
p{
    font-size:22px;
}
img{
	
}
@media screen and (max-width: 600px) {
	#projects > img{	
		width:90%;
	}

}

